<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title | escape }} &mdash; {% endif %}Wobscale System Status</title>
        <link rel="stylesheet" href="{{ "/css/main.css" }}?{{ site.time | date: '%s' }}">
        <link rel="icon" href="status1.gif">
    </head>
    <body>
        <header>
            <h1><a href="https://wobscale.website/">Wobscale Technologies</a></h1>
            <p><a href="http://bgp.he.net/AS64241">AS64241</a> &middot; Seattle</p>
        </header>
        {{ content }}
    </body>
</html>
